/*
currently experimenting with slide-in and layout,
hardcoded pixel sizes are to be replaced with javascript-calculated styles
*/
body { 
    margin: 0; 
    padding: 0; 
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.topbar {
    background: -webkit-gradient(linear, left top, left bottom, from(#b0bccc), to(#6d84a3));
    background: -moz-linear-gradient(top,  #b0bccc,  #6d84a3);
    border-style: outset;
    border-color: #fff;
    border-width: 1px 0px 1px 0px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    height: 22px;
    color: #fff;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) -0px -1px 2px;
}

.contentbox {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    border-radius: 8px;
}

#container { 
    position: relative;
    background-color: #747474; 
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAIAAACdaSOZAAAAAXNSR0IArs4c6QAAABZJREFUCNdjPHrmCgMC/GNjY2NgYAAAN00Dd2Fg5+4AAAAASUVORK5CYII=");
    width: 100%;
    overflow: hidden; 
    margin: 0; 
    padding: 0; 
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}

#prev { 
    position: relative;
    left: -100%;
    width: 100%;
    margin: 0; 
    padding: 0; 
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#current { 
    position: relative;
    left: 0px;
    width: 100%;
    margin: 0; 
    padding: 0; 
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#next { 
    position: relative;
    left: 100%;
    width: 100%;
    //background-color: #0f0; 
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

